html {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: #8e44ad;
  color: white;
  font-weight: 100;

}

h2 {
  font-weight: 100;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  background: #2ecc71;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 100;
}

.navbar {
  background: #2ecc71;
  border: none;

}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: white;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 20px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.description-section {
  margin-top: 40px;
  margin-bottom: 40px;

}

.vendor-section {
  margin-top: 60px;
  margin-bottom: 20px;

}

.photo-section {
  margin-bottom: 20px;
  overflow: hidden;

}

.contact-section {
  margin-bottom: 20px;
}

.carousel .item {
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  overflow: hidden;
}
.carousel-control {
  border-radius: 10px;
}

.leaflet-section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.group-img {
  width:130px;
  height:130px;        
  border:3px solid black;
  border-radius:65px; 
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px; 
}

.well-lg {
  background: #2ecc71;
}

.embellish {
  font-weight: 200;
}


