<h1>Portola Valley Farmers' Market</h1>

<section id="photos">
</section>

<section id="description">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p>3pm - 7pm Thursdays</p>
  <p>Location: lala land</p>
</section>

<section id="vendors" ng-controller="VendorCtrl">
  <h2>Vendors</h2>

  <div>
    <img class="group-img" ng-repeat="group in vendorGroups" ng-src="{{group.image}}" 
    alt="{{group.name}}" ng-click="showGroup(group)">
  </div>

  <div collapse="isCollapsed">
    <div class="well well-lg">
      <li ng-repeat="vendor in targetGroup">{{vendor}}</li>
    </div>
  </div>
</section>

<section id="map" ng-controller="MapCtrl">
  <leaflet height="300px" width="100%" defaults="defaults" center="center" markers="marketMarker"></leaflet>
</section>

<section id ="contact">
  <h1>mailto here</h1>
</section>

